<div id="layoutSidenav_nav">
  <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
      <div class="nav">
        <div class="sb-sidenav-menu-heading">System</div>
        <a class="nav-link" routerLink="/home"
          ><div class="sb-nav-link-icon">
            <i class="fas fa-tachometer-alt"></i>
          </div>
          Home Page</a
        >
        <div class="sb-sidenav-menu-heading">Registers</div>
        <a
          class="nav-link collapsed"
          routerLink="/person-list"
          data-toggle="collapse"
          data-target="#collapseLayouts"
          aria-expanded="false"
          aria-controls="collapseLayouts"
          ><div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
          Person list</a
        >
      </div>
      <!-- </nav> -->
    </div>
  </nav>
</div>
